[MAIN]
ignore=third_party
jobs=0

[MESSAGES CONTROL]
disable=all
enable=E,F,unused-import,unused-variable,raise-missing-from,unspecified-encoding,broad-exception-caught,consider-using-with,duplicate-code,too-many-locals,too-many-branches,too-many-statements,too-many-return-statements

[REPORTS]
score=no
